<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.franky.princesscard" version="1.0.0"
    android-versionCode="13"
    ios-CFBundleVersion="1.0.0.1"
    xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Princess Card</name>
    <description>Princess Card</description>
    <author email="210238hwsh@gmail.com">
        Franky Email
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Platform Configs & Platform Overriding Configs -->
    <platform name="android"></platform>
    <platform name="ios">
        <preference name="deployment-target" value="12.0" />
        <preference name="scheme" value="app" />
        <preference name="SuppressesLongPressGesture" value="true" />
        <!-- 讓apple 不會一直問有沒有加密 -->
        <edit-config file="*-Info.plist" mode="add" target="ITSAppUsesNonExemptEncryption">
            <false/>
        </edit-config>
    </platform>

</widget>
