.App {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  top: 0;
  right: 0;
  position: relative;
}

@keyframes displayCard{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    display: none;
  }
}

@keyframes zoomOutCard{
  from{
    height: 41vh;
    width: 29.81vh;
  }
  to{
    height: 0px;
    width: 0px;
    display: none;
  }
}

.colorWhite {
  color: aliceblue;
}

.no-uppercase {
  text-transform: unset !important;
}

/* 手動引入 tailwindcss style */

.TAIL-flex {
  display: flex;
}

.TAIL-justify-end {
  justify-content: flex-end;
}

.TAIL-justify-between {
  justify-content: space-between;
}

/* TAIL-w-10/12 */
.TAIL-w-10\/12 {
  width: 83.333333%;
}

.TAIL-justify-center {
  justify-content: center;
}

.TAIL-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.TAIL-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.TAIL-w-12 {
  width: 3rem;
}

.TAIL-absolute {
  position: absolute;
}

.TAIL-top-3 {
  top: 0.75rem;
}

.TAIL-left-3 {
  left: 0.75rem;
}

.TAIL-p-2 {
  padding: 0.5rem;
}
