.App {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  top: 0;
  right: 0;
  position: relative;
}

@keyframes displayCard{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    display: none;
  }
}

.colorWhite {
  color: aliceblue;
}